html {
	height: 100%;


}

body {
	margin: 0px;
	padding: 0px;
	background-image: url(img/BgBlue.gif);
	background-repeat: repeat;
	height: 100%;
}
div#frame{
	width:814px;
	margin-right: auto;
	margin-left: auto;
}
div#banner{
	width:814px;
	padding:0;
	height: 121px;
	margin-top: 0;
	margin-bottom: 0;
	background-image: url(img/banner.jpg);
}
div#bg {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(img/grad1.jpg);
	background-repeat: repeat-y;
	height: 100%;
	padding: 0;
}


div#nav {
	position: relative;
	right: 15px;
	display: block;
	float: right;
	height: 20px;
	top: 101px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
	width: 400px;
	z-index: 10;
}
.searchfield {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #90A3C1;
	color: #000033;
	margin-left: 10px;
	padding-left: 3px;
	text-align: left;
	width: 166px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


div#search {
	display: block;
	height: 24px;
	width: 180px;
	position: relative;
	top: 0px;
	float: left;
	left: 634px;
	text-align: right;
}
div#Content{
	width:814px;
	margin: 0 auto;
	padding: 0;
	background-image: url(img/grad2.jpg);
	background-repeat: no-repeat;
}
div#logo {
	height: 100px;
	width: 300px;
	top: 0px;
	position: relative;
	float: left;
	left: -179px;
}

div#ContentBg {
	background-image: url(img/grad3.jpg);
	background-repeat: repeat-y;
}
div#ContentListBio{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 160px;
	float: left;
	margin: 0;
	line-height: 18px;
	text-align: left;
	position: relative;
	left: 15px;
	top: 25px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	overflow: hidden;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
div#ContentTabProd {
	text-align: left;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

div#ContentImgProd{
	width: 407px;
	float: right;
	margin: 0;
	padding: 0;
	right: 11px;
	position: relative;
	top: 10px;
	text-align: right;
}
.ContentMenu {
	text-align: left;
}

div#ContentTabBio {
	float: left;
	position: relative;
	top: 143px;
	left: 8px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

div#ContentImgBio {
	width: 625px;
	float: right;
	right: 11px;
	position: relative;
	top: 10px;
	text-align: right;
}
div#ContentMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10px;
}
div#ContentFeatProd {
	height: 25px;
	width: 814px;
	margin-right: auto;
	margin-left: auto;
}




div#ContentTxtProd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 360px;
	float: left;
	margin: 0;
	line-height: 2em;
	text-align: justify;
	position: relative;
	left: 20px;
	padding: 0px;
	top: 25px;
}
div#ContentTxtProdWide {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 600px;
	float: left;
	margin: 0;
	line-height: 2em;
	text-align: justify;
	position: relative;
	left: 20px;
	padding: 0px;
	top: 25px;
}
div#ContentTxtProdWide h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
}
div#ContentNews {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: normal;
	text-align: left;
}
div#ContentNews strong {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}





div#ContentTxtBio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 485px;
	float: left;
	margin: 0;
	line-height: 2em;
	text-align: justify;
	position: relative;
	left: 14px;
	top: 25px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}

div#footer{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-image: url(img/grad3.jpg);
	background-repeat: repeat-y;
	height: 20px;
	width: 814px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 20px;
	line-height: 12px;
}
div#footer a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0099CC;
	text-decoration: underline;
}

.clear {
	clear: both;
}
a:hover {
	color: #0099CC;
	text-decoration: underline;
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	text-decoration: none;
}
div#ContentFeatProdLeft {
	height: 170px;
	width: 266px;
	position: relative;
	bottom: 100px;
	float: left;
	left: 7px;
}
div#ContentFeatProdMid {
	height: 170px;
	width: 266px;
	position: relative;
	bottom: 100px;
	float: left;
	left: 8px;
}
div#ContentFeatProdRight {
	height: 170px;
	width: 266px;
	position: relative;
	bottom: 100px;
	float: right;
	right: 7px;
}
